@model MateriaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Toast-->
<span id="AlertMessage" class="d-none">@TempData["AlertMessage"]</span>

<div aria-live="polite" aria-atomic="true" style="position: relative; ">
    <div class="toast container-personalizado" data-delay="4000">
        <div class="toast-header text-white">
            <strong class="mr-auto"> @TempData["AlertMessage"]</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div  class="container mt-5  pt-5">
    <h2 class="mb-3">Cadastrar Matéria</h2>
    <form class="form-group" method="post" action="/Materia/Save">
        <!--Código gerado automaticamente-->
        <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
        <input type="hidden" name="ID" value="@Model.ID" />
        <label for="Descricao" class="mt-1">Descrição</label>
        <textarea name="Descricao" class="form-control campo-personalizado">@Model.Descricao</textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
        <br />
        <label for="CargaHoraria" class="mt-1">Carga Horaria</label>
        <input asp-for="CargaHoraria" class="form-control campo-personalizado" />
        <span asp-validation-for="CargaHoraria" class="text-danger"></span>
        <br />
        <label for="CodProfessor" class="mt-1">Código do Professor</label>
        <select asp-for="CodProfessor" asp-items="ViewBag.Professores" class="form-control campo-personalizado"></select>
        <span asp-validation-for="CodProfessor" class="text-danger"></span>
        <br />

        <input type="submit" value="Cadastrar" class="btn btn-success botao-personalizado mt-1" />

    </form>
</div>

<!--Toast Javascript-->
@section Scripts
    {
    <script>
        $(document).ready(function () {

            var message = $('#AlertMessage').text();
            if (message !== '') {
                $('.toast').toast('show')
            }
        });
    </script>
}
