@model List<AulaViewModel>
<table class="table container-personalizado shadow overflow-hidden table-hover">
    <thead class="bg-light">
        <tr>

            <th>Código</th>
            <th>Conteúdo</th>
            <th>Informações</th>
            <th>Ação</th>
        </tr>
    </thead>
    @foreach (var aula in Model)
    {
        <tr>

            <td><p class="font-weight-bold">@aula.ID</p></td>
            <td><p>@aula.Conteudo</p></td>
            <td>
                <div>
                    <p class="font-weight-bold mb-1">@aula.CodMateria</p>
                    <p class="text-muted mb-0">@aula.DataHoraAula.ToString("dd/MM/yyyy HH:mm")</p>
                </div>
            </td>
            <td>
                <a class="mr-1" href="/Aula/Edit?id=@aula.ID"><i class="bi bi-pencil-fill"></i></a>
                <a href="javascript:apagarAula(@aula.ID)"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
    }
</table>

