@model List<MateriaViewModel>
<table class="table container-personalizado shadow overflow-hidden table-hover">
    <thead class="bg-light">
        <tr>
            
            <th>Código</th>
            <th>Descricao</th>
            <th>Informações</th>
            <th>Ação</th>
        </tr>
    </thead>
    @foreach (var materia in Model)
    {
        <tr>

            <td><p class="font-weight-bold">@materia.ID</p></td>
            <td><p>@materia.Descricao</p></td>
            <td>
                <div>
                    <p class="font-weight-bold mb-1">@materia.CodProfessor</p>
                    <p class="text-muted mb-0">@materia.CargaHoraria</p>
                </div>
            </td>
            <td>
                <a class="mr-1" href="/Materia/Edit?id=@materia.ID"><i class="bi bi-pencil-fill"></i></a>
                <a href="javascript:apagarMateria(@materia.ID)"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
    }
</table>

