@model List<AlunoViewModel>
<table class="table container-personalizado shadow overflow-hidden table-hover">
    <thead class="bg-light">
        <tr>
            <th>Código</th>
            <th>Aluno</th>
            <th>Contato</th>
            <th>Ação</th>
        </tr>
    </thead>
    
    @foreach (var aluno in Model)
    {
        <tr>
            <td>
                <p class="font-weight-bold">@aluno.ID</p>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <a href="#loginImage" data-id="data:image/jpeg;base64,@aluno.ImagemEmBase64" class="openImageDialog " data-toggle="modal">
                        <img class="img-responsive rounded-circle" src="data:image/jpeg;base64,@aluno.ImagemEmBase64" alt="#" style="width: 45px; height: 45px; object-fit: cover;">
                    </a>
                    <div class="ml-3">
                        <p class="font-weight-bold mb-1">@aluno.Nome</p>
                        <p class="text-muted mb-0">@aluno.Cpf</p>
                    </div>
                </div>
            </td>
            <td>
                <div >
                    <p class="mb-1">@aluno.Email</p>
                    <p class="mb-0">@aluno.Telefone</p>
                </div>
            </td>
            <td>
                <a class="mr-1" href="/Aluno/Edit?id=@aluno.ID"><i class="bi bi-pencil-fill"></i></a>
                <a href="javascript:apagarAluno(@aluno.ID)"><i class="bi bi-trash-fill"></i></a>
            </td>


        </tr>
    }
</table>











