@model List<ProfessorViewModel>
<table class="table container-personalizado shadow overflow-hidden table-hover">
    <thead class="bg-light">
        <tr>
            <th>Código</th>
            <th>Professor</th>
            <th>Contato</th>
            <th>Ação</th>
        </tr>
    </thead>

    @foreach (var professor in Model)
    {
        <tr>
            <td>
                <p class="font-weight-bold">@professor.ID</p>
            </td>
            <td>
           
                <div>
                    <p class="font-weight-bold mb-1">@professor.Nome</p>
                    <p class="text-muted mb-0">@professor.CPF</p>
                </div>
              
            </td>
            <td>
                <div>
                    <p class="mb-1">@professor.Email</p>
                    <p class="mb-0">@professor.Telefone</p>
                </div>
            </td>
            <td>
                <a class="mr-1" href="/Professor/Edit?id=@professor.ID"><i class="bi bi-pencil-fill"></i></a>
                <a href="javascript:apagarProfessor(@professor.ID)"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
    }
</table>
