@model List<AulaViewModel>
<table class="table container-personalizado shadow overflow-hidden table-hover">
    <thead class="bg-light">
        <tr>

            <th>Código</th>
            <th>Conteúdo</th>
            <th>Informações</th>
            <th>Situação</th>
        </tr>
    </thead>
    @foreach (var aula in Model)
    {
        <tr>
            <td><p class="font-weight-bold">@aula.ID</p></td>
            <td><p>@aula.Conteudo</p></td>
            <td>
                <div>
                    <p class="font-weight-bold mb-1">@aula.Materia</p>
                    <p class="text-muted mb-0">@aula.DataHoraAula.ToString("dd/MM/yyyy HH:mm")</p>
                </div>
            </td>
            <td>
                @if((int)aula.Situacao == 1)
                {
                    <span class="badge badge-pill badge-success">@aula.Situacao</span>
                }
                else if ((int)aula.Situacao == 2)
                {
                    <span class="badge badge-pill badge-secondary">@aula.Situacao</span>
                }
                else if ((int)aula.Situacao == 3)
                {
                    <span class="badge badge-pill badge-info">@aula.Situacao</span>
                }
            </td>
        </tr>
    }
</table>
